header
  background-color: $red

  h1 a
    background-color: transparent
    color: white
    font-weight: 600
    text-decoration: none
    text-shadow: $red-shadow 0 0 1em
    &:hover
      background-color: transparent
      text-shadow: $red-highlight 0 0 1em
    &:active
      background-color: transparent
      text-shadow: darken($red-shadow, 10%) 0 0 1em
